@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto+Mono:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-void-black: #050505;
  --color-neon-purple: #a855f7;
  --color-cyber-cyan: #06b6d4;
  --color-mystic-gold: #ffd700;

  --font-horror: "Montserrat", sans-serif;
  --font-tech: "Roboto Mono", monospace;
}

body {
  background-color: var(--color-void-black);
  color: white;
  font-family: var(--font-tech);
  margin: 0;
  overflow-x: hidden;
  /* Avoid scrollbars during animations */
}